<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%thread] [%d] [%-5level] [%logger{0}:%line]- %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] [%d] [%-5level] [%logger{0}:%line]- %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.tomcat.jdbc.pool.ConnectionPool" level="DEBUG" />
    <logger name="org.springframework" level="OFF" />
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="DEBUG"/>
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="ERROR"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    <logger name="jdbc.sqlonly" level="OFF"/>   <!-- printing query log in single line  -->
    <logger name="jdbc.sqltiming" level="DEBUG"/> <!-- printing query log in single line + execution time -->
    <logger name="jdbc.audit" level="ERROR"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="OFF"/>
    <logger name="jdbc.connection" level="DEBUG"/>
    <logger name="log4jdbc.debug" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>